/windows/cmd/app.syso
/windows/*.exe
/windows/opus
/windows/ogg
/macos/libs
/macos/target
/macos/opus
/macos/tmp
/windows/tmp
/windows/libs
/windows/*.zip
/android/WirePod*
/android/key/ks.jks
/android/key/passwd
/android/resources/version
/android/resources/intent-data
/android/resources/webroot
/android/resources/pod-bot-install.sh
/android/resources/weather-map.json
/debian/build
/debian/built
/debian/debcreate
/debian/wire-pod-toolchain
/debian/final
/debian/wire-pod
.DS_Store
.vscode
