[Unit]
Description=wire-pod, a voice server for the Anki Vector robot.
StartLimitIntervalSec=500
StartLimitBurst=5
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
WorkingDirectory=/etc/wire-pod
ExecStart=/usr/bin/wire-pod

[Install]
WantedBy=multi-user.target
